@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-accent: #2c5364;
	/* --color-accent-darker: #0f1e24; */
	--color-accent-darker: #ffffff;
	--color-accent-off: #173944;
	--color-green: #bada55;
	--color-danger: #ff7268;
	--color-accent-complementary: #fff;
}

i {
	pointer-events: none;
}

body {
	background-color: var(--color-accent-darker);
	font-family: "Lato", serif;
	color: var(--color-accent-complementary);
	display: grid;
	width: 100%;
	flex-direction: column;
	grid-template: auto 1fr auto / 1fr;
	height: 100vh;
	user-select: none;
	overflow: hidden;
}

h1 {
	text-align: left;
	font-size: 1.5rem;
}

header {
	padding: 0.5rem 1rem;
	height: max-content;
	background-color: var(--color-accent);
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8rem;
	text-align: right;
	gap: 2rem;
}

.dark-mode-check {
	align-self: flex-end;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: var(--color-accent-darker);
}

::-webkit-scrollbar-thumb {
	background: var(--color-accent);
	opacity: 0.2;
	transition: all 1.15s ease-in;
	border-radius: 99vh;
}

footer {
	padding: 0.5rem;
	height: max-content;
	background-color: var(--color-accent);
	text-align: center;
}

footer a {
	display: inline-block;
	margin: 0.25rem;
	text-decoration: none;
	color: var(--color-accent);
	padding: 0.25rem 0.5rem;
	background-color: var(--color-accent-complementary);
}

footer a:hover {
	text-decoration: underline;
}

.shelf {
	display: grid;
	grid-template-columns: repeat(auto-fill, 235px);
	grid-auto-rows: 370px;
	gap: 2rem;
	padding: 1.5rem;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
	/* overflow-x: hidden; */
}

.book-card {
	position: relative;
	background-color: var(--color-accent);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.2s linear;
	flex: 0 0 300px;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.342);
	overflow: hidden;
	border-radius: 10px;
	background-image: linear-gradient(
		to bottom,
		var(--color-accent-off),
		var(--color-accent)
	);
}

.book-title {
	margin-bottom: 1rem;
}

.text-content {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.cover-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.25s linear;
	overflow: hidden;
	transform-origin: left;
	background-image: var(--background);
	background-position: center;
	background-size: cover;
	padding: 1rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.read .cover-image::before {
	position: absolute;
	right: -46px;
	top: -11px;
	content: "";
	height: 0px;
	width: 0px;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 70px solid var(--color-green);
	transform: rotate(45deg);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.read .cover-image::after {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 70px;
	width: 60px;
	content: url(../Assets/check.svg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-card:hover .cover-image,
.book-card:focus-within .cover-image {
	/* transform: rotateY(180deg); */
	transform: translateX(-100%);
}

.cover-image img {
	height: 100%;
}

.add-new-book {
	display: block;
	background-color: var(--color-accent);
	color: var(--color-accent-complementary);
	background-image: linear-gradient(
		to bottom,
		var(--color-accent-off),
		var(--color-accent)
	);
	font-size: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

.book-actions {
	display: flex;
	width: 100%;
	margin-top: 2rem;
	margin-left: auto;
	align-items: center;
	justify-content: space-between;
}

.book-actions > * {
	align-self: center;
}

.button {
	text-decoration: none;
	align-self: center;
	border-radius: 0;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0.2rem 0.5rem;
	cursor: pointer;
	border-radius: 4px;
}

.hint {
	color: var(--color-accent);
	opacity: 0.7;
	align-self: center;
}

.modal {
	color: var(--color-accent);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.329);
	height: 100%;
	width: 100%;
	backdrop-filter: blur(20px);
}

header h2 {
	text-align: left;
	width: fit-content;
	cursor: pointer;
	position: relative;
}
header h2::after {
	content: url(../Assets/edit.svg);
	fill: var(--color-accent);
	position: absolute;
	top: 0;
	left: 100%;
	transform: translate(35%, -10%);
	opacity: 0;
	transition: all 0.2s ease;
}
header h2:hover {
	text-decoration: underline;
	cursor: pointer;
}

header h2:hover::after {
	opacity: 1;
}

form {
	background-color: var(--color-accent-complementary);
	padding: 1.5rem;
	width: max-content;
	height: max-content;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.548), 0 0 20px 2px rgba(0, 0, 0, 0.25),
		0 0 50px 0 rgba(0, 0, 0, 0.068);
	z-index: 10;
}

input:not([type="checkbox"]) {
	border: none;
	position: relative;
	border-bottom: 2px solid #6471869d;
	background-color: var(--color-accent-complementary);
	color: var(--color-accent);
	outline: none;
	padding-left: 0.5rem;
	padding-block: 0.25rem;
	font-family: inherit;
	font-size: inherit;
	transition: all 0.2s linear;
}

input:not([type="checkbox"])::placeholder {
	color: #6b6b88;
}

input:not([type="checkbox"]):focus {
	border-bottom: 2px solid var(--color-accent);
}

#completed-check {
	display: none;
}

.buttons-on-modal {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

#completed-check + .slider-switch {
	position: relative;
	height: 1rem;
	width: 2rem;
	background-color: var(--color-accent-off);
	border-radius: 99vh;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
	/* overflow: hidden; */
	transition: all 0.2s linear;
}

#completed-check + .slider-switch::after {
	position: absolute;
	content: "";
	height: 1rem;
	width: 1rem;
	background-color: var(--color-accent-complementary);
	top: 0;
	left: 0;
	border-radius: inherit;
	border: 2px solid var(--color-accent-off);
	transition: all 0.2s linear;
	transform: translateX(0%);
	transition: all 0.2s linear;
}

label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	align-self: flex-start;
	cursor: pointer;
}

.read {
	/* background-color: red; */
	transition: all 0.2s linear;
}

.head-modal {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.danger-button {
	background-color: var(--color-danger);
	color: var(--color-accent-complementary);
}

.safe-button {
	background-color: var(--color-accent);
	color: var(--color-accent-complementary);
}

#completed-check:checked + .slider-switch {
	background-color: var(--color-green);
}

#completed-check:checked + .slider-switch::after {
	transform: translateX(100%);
}

.overflow-none {
	overflow: hidden;
}

.display-none {
	display: none;
}

.working-info {
	font-size: 0.9rem;
	text-align: center;
	padding: 0.5rem;
	background-color: transparent;
}
